<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #inputTerm (keyup)="search$.next(inputTerm.value)" type="text" class="form-control"
                    placeholder="Search hospitals...">

            </div>
        </div>
    </div>
</div>

<div *ngIf="loading" class="row animated fadeIn fast">
    <div class="col-12">
        <div class="alert alert-info text-center" role="alert">
            <h4 class="alert-heading">Loading...</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Please wait...</p>
        </div>
    </div>
</div>

<div *ngIf="!loading" class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Hopsital totals ({{hospitals.length}})</h4>
                        <h6 class="card-subtitle">Hospitals registed in my application </h6>
                    </div>
                    <div class="col">
                        <div class="text-right">
                            <button (click)="openModalNewHospital()" class="btn btn-primary">
                                <i class="fa fa-hospital-o"></i>
                                Create Hospital
                            </button>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Photo</th>
                                <th>Name</th>
                                <th class="text-nowrap w100">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hospital of hospitals">
                                <td>
                                    <img (click)="openModalUpdateImageHospital(hospital)" data-toggle="tooltip"
                                        data-original-title="Load image" class="avatar cursor"
                                        [src]="hospital.img | image: typeHospital" alt="hospital">
                                </td>
                                <td>
                                    <input [(ngModel)]="hospital.name" type="text" name="name" class="form-control"
                                        placeholder="name hospital">
                                </td>
                                <td class="text-nowrap text-center">
                                    <a (click)="saveChanges(hospital)" class="cursor" data-toggle="tooltip"
                                        data-original-title="Save">
                                        <i class="fa fa-pencil text-inverse m-r-10"></i>
                                    </a>
                                    <a (click)="deleteHospital(hospital)" class="cursor" data-toggle="tooltip"
                                        data-original-title="Delete">
                                        <i class="fa fa-close text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>